# Ambiente virtual
venv/

# Banco de dados
database.db

# Variáveis de ambiente
.env

#dados da secretaria
.criar-secretaria.py
# Cache do Python
__pycache__/
*.pyc
*.pyo

# Configurações do VSCode
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db